#initially-hidden{
  display: none;
}
p.show{
  color: #c3cf53;
}

p.show:hover {
  text-decoration: underline;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}